*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
header{
    background-color: white;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    
   
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menus{
    display: flex;
    align-items: center;
    gap: 30px;
}
.menus .home{
    color: black;
}
.menus a{
    color: #737373;
    font-size: 14px;
}
#hero{
    background-image: url(../images/section\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 188px;
}

.hero--title {
    font-size: 58px;
    margin-top: 104px;
    margin-left: 80px;
}
.hero--titles {
    font-size: 20px;
    margin-top: 35px;
    margin-left: 80px;
    color: #737373;
}
.btn{
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: 35px;
    gap: 10px;
}
.hero-btn{
    border: 1px solid #00A0C1;
    color: #00A0C1;
    border-radius: 37px;
    background-color: transparent;
    width: 154px;
    height: 48px;
    transition: 0.5s;
}
.hero-btn:hover{
 background-color: #FFA62B;
 color: white;
 border: none;
}
.card{
    display: flex;
    align-items: center;
    gap: 37px;
    margin: -100px;
    margin-left: 80px;
}
.card h3 , img {
    margin-left: 30px;
}
.card-1{
    background-color: #ffffff;
    width: 330px;
    height: 200px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 30x;
    box-shadow: 5px 13px 19px 1px grey;
    transition: 0.5s;
}
.card-1:hover{
    background-color: #00A0C1;
    color: white;
}
.border{
   width: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}
.card-p{
    margin-top: 10px;
    
}
.h2{
    text-align: center;
    margin-top: 200px;
}
.p{
    text-align: center;
    margin-top: 20px;
    color: #737373;
}
#about{
    background-color: rgb(252, 250, 250);
}
.about{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 45px;
    margin-bottom: 10px;
    background-color: white;
    margin-left: 80px;
    margin-right: 20px;
}


.about-card{
    width: 260px;
        height: 210px;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
}
.about img{
    margin-left: 100px;
}
.about-card h2 {
    margin-left: 110px;
}
.about-card p{
    text-align: center;
    margin-left: 20px;
}
.about-card:hover{
    box-shadow: 5px 13px 19px 1px grey;
}
.advice{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 34px;
    margin-left: 80px;
    margin-top: 50px;
}
.advice-card{
    width: 230px;
        height: 260px;
       
        padding-top: 10px;
}
.advice-card  h5 , p{
    padding-left: 50px;
}
.advice p{
    margin-top: 20px;
    margin-bottom: 30px;
}
#advice{
    background-color: rgb(252, 250, 250);
}
.Service{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 100px;
}
.service-h2{
    margin-left: 48px;
    padding-bottom: 10px;
}
.advice--img{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.images{
    display: flex;
    align-items: center;
    margin-top: 150px;
}
.subscribe{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 90px;
    justify-content: space-between;
    margin-left: 50px;
    background-color: #16697A;
    margin-top: 100px;
}
.input{
    width: 300px;
    height: 50px;
    margin-right: 30px;
    position: relative;
    padding-left: 15px;
}
.subscribe h3{
    color: white;
    padding-left: 50px;
    font-family: Montserrat;
}
.service-h3{
    text-align: center;
    margin-top: 100px;
}
.Contact-title{
    text-align: center;
    margin-top: 20px;
}
.Contact{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 55px;
}
.Contact-card{
    width: 320px;
    height: 280px;
    background-color: white;
    margin-top: 100px;
    transition: 0.5s;
}
.Contact-card h6 , h5{
    text-align: center;
    padding-top: 5px;
}
.Contact-card button{
    margin-left: 80px;
    margin-top: 20px;
    width: 160px;
        height: 44px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        border-radius: 5px;
        border-width: 1px;
        background-color: transparent;
        color: #FFA62B;
        border-color: #FFA62B;
}
.Contact-card img {
    margin-left: 110px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#contact{
    background-color: #F3F3F3;
}
.Contact-card:hover{
    background-color: #252B42;
    color: white;
}
.inp{
    width: 1000px;
    height: 100px;
    margin-left: 55px;
        margin-right: 55px;
        padding-bottom: 70px;
        padding-left: 30px;
    
}
.inputs{
    width: 1000px;
    height: 50px;
    margin-left: 55px;
    margin-right: 55px;
    padding-left: 30px;
}
.form{
    margin-top: 50px;
}
.form-btn{
    font-family: Montserrat;
        width: 100px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        height: 50px;
        margin-left: 480px;
        background-color: #FFA62B;
        margin-top: 40px;
        color: white;
}
.footer{
    display: flex;
    align-items: center;
    gap: 50px;
}
.ul{
    display: flex;
    align-items: center;
}
#foot{
    background-color: #16697A;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.span{
    display: flex;
    margin-top: 10px;
}
.Unlimited li{
    margin-top: 10px;
}

.Unlimited{
    margin-left: 55px;
}
.insta{
    display: flex;
    align-items: center;
    gap: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#foot p , h5 , a{
    color: white;
} 
.titl{
    color: gray;
}


